@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
p {
    height: 100%;
    margin: auto;
    overflow: auto;
    font-size: 48px;
    font-family: monospace;
}
h1 {
    height: 100%;
    margin: auto auto 50px auto;
    overflow: auto;
    font-size: 32px;
    border-bottom: 20px;
}
body {
    
    margin: 0;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    
}
button {
    font-family: Roboto, sans-serif;
    font-size: 37px;
    max-width: 200px;
    display: flex;
    flex-grow: 1; 
    color: white;
    border-color: black;
    border-radius: 8px;
    background: #3882F6;
    
} 

.regText {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    justify-self: center;
    align-items: center;
    
}

#demo {
    font-family: Roboto, sans-serif;
    font-size: 37px;
    color: #3882F6;
}

#currentStandings {
    font-family: Roboto, sans-serif;
    font-size: 37px;
    color: darkblue;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

#playAgainContainer {
    font-family: Roboto, sans-serif;
    font-size: 37px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}